<!-- <p>jobseeker-browse-categories works!</p> -->
<div class="page-header">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="inner-header">
    <h3>Categories</h3>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <section class="category section bg-gray">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
    <a routerLink="/jobseeker/browseJobs/Finance">
    <div class="icon bg-color-1">
    <i class="lni-home"></i>
    </div>
    <h3>Finance</h3>
    <p>(4286 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
    <a routerLink="/jobseeker/browseJobs/b">
    <div class="icon bg-color-2">
    <i class="lni-world"></i>
    </div>
    <h3>Sale/Markting</h3>
    <p>(2000 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
    <a routerLink="/jobseeker/browseJobs/c">
    <div class="icon bg-color-3">
    <i class="lni-book"></i>
    </div>
    <h3>Education/Training</h3>
    <p>(1450 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
     <a routerLink="/jobseeker/browseJobs/IT & Engineering">
    <div class="icon bg-color-4">
    <i class="lni-display"></i>
    </div>
    <h3>IT & Engineering</h3>
    <p>(5100 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
    <a routerLink="/jobseeker/browseJobs/d">
    <div class="icon bg-color-5">
    <i class="lni-brush"></i>
    </div>
    <h3>Art/Design</h3>
    <p>(5079 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
    <a routerLink="/jobseeker/browseJobs/Healthcare">
    <div class="icon bg-color-6">
    <i class="lni-heart"></i>
    </div>
    <h3>Healthcare</h3>
    <p>(3235 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a routerLink="/jobseeker/browseJobs/Science">
    <div class="icon bg-color-7">
    <i class="lni-funnel"></i>
    </div>
    <h3>Science</h3>
    <p>(1800 jobs)</p>
    </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 f-category">
        <a routerLink="/jobseeker/browseJobs/Food Services">
    <div class="icon bg-color-8">
    <i class="lni-cup"></i>
    </div>
    <h3>Food Services</h3>
    <p>(4286 jobs)</p>
    </a>
    </div>
    </div>
    </div>
    </section>
    
    
    <!-- <section class="all-categories section">
    <div class="container">
    <h2 class="categories-title">Browse All Categories</h2>
    <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
    <h3 class="cat-title">Business <span>(33 Sub Categories)</span></h3>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
    <ul>
    <li><a href="#">Accounting & Finance</a></li>
    <li><a href="#">Asset Management</a></li>
    <li><a href="#">Capital Markets</a></li>
    <li><a href="#">Commercial Banking</a></li>
    <li><a href="#">Commodities</a></li>
    <li><a href="#">Consultiong</a></li>
    <li><a href="#">Corporate</a></li>
    <li><a href="#">Credit</a></li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
    <ul>
    <li><a href="#">Debt/Fixed Income</a></li>
    <li><a href="#">Derivatives</a></li>
    <li><a href="#">Equities</a></li>
    <li><a href="#">FX & Money Markets</a></li>
    <li><a href="#">Global Custody</a></li>
    <li><a href="#">Covernment</a></li>
    <li><a href="#">Graduates & Internships</a></li>
    <li><a href="#">Hedge Funds</a></li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
    <ul>
    <li><a href="#">Information Services</a></li>
    <li><a href="#">Insurance</a></li>
    <li><a href="#">Investment Consulting</a></li>
    <li><a href="#">Investment Banking</a></li>
    <li><a href="#">Islamic Finance</a></li>
    <li><a href="#">Operations</a></li>
    <li><a href="#">Private Banking</a></li>
    <li><a href="#">Private Equity & Venture Capital</a></li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
    <ul>
    <li><a href="#">Quantitative Analytics</a></li>
    <li><a href="#">Real Estate</a></li>
    <li><a href="#">Research</a></li>
    <li><a href="#">Retail Banking</a></li>
    <li><a href="#">Risk Management</a></li>
    <li><a href="#">Trading</a></li>
     </ul>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <h3 class="cat-title">Science <span>(34 Sub Categories)</span></h3>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
    <ul>
    <li><a href="#">Aeronautical Engineering</a></li>
    <li><a href="#">Aerospace Engineering</a></li>
    <li><a href="#">Algorthm</a></li>
    <li><a href="#">Biology</a></li>
    <li><a href="#">Broadcast Engineering</a></li>
    <li><a href="#">Circuit Design</a></li>
    <li><a href="#">Civil Engineering</a></li>
    <li><a href="#">Clean Technology</a></li>
    <li><a href="#">Construction Monitoring</a></li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
    <ul>
    <li><a href="#">Climate Sciences</a></li>
    <li><a href="#">Cryptography</a></li>
    <li><a href="#">Data Mining</a></li>
    <li><a href="#">Data Science</a></li>
    <li><a href="#">Digital Design</a></li>
    <li><a href="#">Drones</a></li>
    <li><a href="#">Electrical Engineering</a></li>
    <li><a href="#">Electronics</a></li>
    <li><a href="#">Engineering</a></li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
    <ul>
    <li><a href="#">Gelolgy</a></li>
    <li><a href="#">Human Science</a></li>
    <li><a href="#">Imaging</a></li>
    <li><a href="#">Industrial Engineering</a></li>
    <li><a href="#">Instrumentation</a></li>
    <li><a href="#">Machine Learning</a></li>
    <li><a href="#">Mathematics</a></li>
    <li><a href="#">Machanical Engineering</a></li>
    <li><a href="#">Medical</a></li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
    <ul>
    <li><a href="#">Nanotechnology</a></li>
    <li><a href="#">Natural Language</a></li>
    <li><a href="#">Physics</a></li>
    <li><a href="#">Quantum</a></li>
    <li><a href="#">Remote Sensing</a></li>
    <li><a href="#">Robotics</a></li>
    <li><a href="#">Statistics</a></li>
    <li><a href="#">Wireless</a></li>
    </ul>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12">
    <h3 class="cat-title">Sales & Marketing <span>(21 Sub Categories)</span></h3>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
    <ul>
    <li><a href="#">Display Advertising</a></li>
    <li><a href="#">Email Marketing</a></li>
    <li><a href="#">Lead Generation</a></li>
    <li><a href="#">Market &amp; Customer Research</a></li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
    <ul>
    <li><a href="#">Marketing Strategy</a></li>
    <li><a href="#">Public Relations</a></li>
    <li><a href="#">Telemarketing &amp; Telesales</a></li>
    <li><a href="#">Other - Sales &amp; Marketing</a></li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
    <ul>
    <li><a href="#">SEM - Search Engine Marketing</a></li>
    <li><a href="#">SEO - Search Engine Optimization</a></li>
    <li><a href="#">SMM - Social Media Marketing</a></li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
    <ul>
    <li><a href="#">Climate Sciences</a></li>
    <li><a href="#">Cryptography</a></li>
    <li><a href="#">Data Mining</a></li>
    <li><a href="#">Digital Design</a></li>
    </ul>
    </div>
    </div>
    </div>
    </section> -->
