<!-- <p>profile-complete1 works!</p> -->

<div class="page-header">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="inner-header">
    <h3>Complete Profile</h3>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div id="content">
    <div class="container">
    <div class="row">
    
    <div class="col-md-8 col-sm-8 col-xs-12 m-auto">
    <div class="job-alerts-item">
    <h3 class="alerts-title">Complete Profile</h3>
    <form class="form" (ngSubmit)="update1()" #profileComplete1="ngForm">
    <div class="form-group is-empty">
        <div class="row my-3 align-items-center">
            <div class="col-xs-3 col-sm-3 col-md-3 m m-auto">
                <p>Name:</p>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9">
                <p>{{userData?.fname}}</p>
            </div>  
        </div>
    </div>

    <div class="form-group is-empty">
        <div class="row my-3 align-items-center">
        <div class="col-xs-3 col-sm-3 col-md-3 m-auto">
            <p>Gender:</p>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 mt-1">
            Male:&nbsp;<input type="radio" value="male" name="gender" id="" [(ngModel)]="userData.gender" required>
            Female:&nbsp;<input type="radio" value="female" name="gender" id="" [(ngModel)]="userData.gender" required>
            Other:&nbsp;<input type="radio" name="gender" value="other" id="" [(ngModel)]="userData.gender" required>
        </div>
        </div>
    </div>
    <div class="form-group is-empty">
        <div class="row my-3 align-items-center">
            
            <div class="col-xs-3 col-sm-3 col-md-3 m-auto">
                <p>Phone Number:</p>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9">
                <p>{{userData?.phone}}</p>
            </div>
            
        </div>
    </div>
    <div class="form-group is-empty">
        <div class="row my-3 align-items-center">
            
            <div class="col-xs-3 col-sm-3 col-md-3 m-auto">
                <p>Address:</p>
            </div>
            <div class="col-xs-9 col-sm-3 col-md-9">
                <textarea name="address" id="" cols="30" rows="4" class="form-control " [(ngModel)]="userData.address" required></textarea>
            </div>
            
        </div>
    </div>
    <div class="form-group is-empty">
        <div class="row my-3 align-items-center">
            
            <div class="col-sm-3 col-md-3 m-auto">
                <p>Upload Profile Image:</p>
            </div>
            <div class="col-sm-9 col-md-9">
                <input type="file" class="form-control pt-2 pl-5" name="profilePic" (change)="profilePicChange($event)"/>
            </div>
            
        </div>
    </div>

    <div class="form-group is-empty">
        <div class="row my-3 align-items-center">
            
            <div class="col-sm-3 col-md-3 m-auto">
                <p>Date of birth:</p>
            </div>
            <div class="col-sm-9 col-md-9">
                <input type="date" class="form-control" name="dateOfBirth" [(ngModel)]="userData.dateOfBirth" required>
            </div>
            
        </div>
    </div>




    <div class="form-group is-empty" *ngIf="userData.qualification.length == 0">
        <div>
            <h6 class="text-center py-3"><b>Add Qualification</b></h6>
        </div>
            <div class="row">
                <div class="col-md-5 text-center">
                    <b>Qualification</b>
                </div>
                <div class="col-md-5 text-center">
                    <b>University</b>
                </div>
                <div class="col-md-2 text-center">
                    <b>Marks</b>
                </div>
            </div>
               
                <div class="row">
                <div class="col-md-5 my-3">
                    <select name="" id="qual0" class="test form-control">
                        <option value="">Select</option>
                        <option value="SSLC">SSLC</option>
                        <option value="PLUS TWO">PLUS TWO</option>
                        <option value="Diploma">Diploma</option>
                        <option value="B Tech">B Tech</option>
                        <option value="B Com">B Com</option>
                        <option value="BA">BA</option>
                        <option value="BCA">BCA</option>
                        <option value="B eD">B ed</option>
                        <option value="B Com">M Com</option>
                        <option value="BCA">MCA</option>
                        <option value="M Tech">M Tech</option>
                        <option value="M eD">M ed</option>
                        <option value="M Tech">PHD</option>
                        <!-- <option value="Other">Other</option> -->
                    </select>
                </div>
                <div class="col-md-5 my-3">
                  
                    <select name="" id="uni0" class="form-control">
                        <option value="">Select University</option>
                        <option value="Amrita Vishwa Vidyapeetham">Amrita Vishwa Vidyapeetham</option>
                        <option value="Anna University">Anna University</option>
                        <option value="APJ Abdul Kalam Technological University">APJ Abdul Kalam Technological University</option>
                        <option value="Avinashilingam University">Avinashilingam University</option>
                        <option value="Azim Premji University">Azim Premji University</option>
                        <option value="B.S. Abdur Rahman Crescent Institute of Science and Technology">B.S. Abdur Rahman Crescent Institute of Science and Technology</option>
                        <option value="Bangalore University">Bangalore University</option>
                        <option value="Bharath Institute of Higher Education and Research">Bharath Institute of Higher Education and Research</option>
                        <option value="Bharathiar University">Bharathiar University</option>
                        <option value="Central University of Kerala">Central University of Kerala</option>
                        <option value="CMR University">CMR University</option>
                        <option value="Cochin University of Science and Technology">Cochin University of Science and Technology</option>
                        <option value="	Dr. M.G.R. Educational and Research Institute">	Dr. M.G.R. Educational and Research Institute</option>
                        <option value="Hindustan Institute of Technology and Science">Hindustan Institute of Technology and Science</option>
                        <option value="Indian Institute of Information Technology, Kottayam">Indian Institute of Information Technology, Kottayam</option>
                        <option value="Indian Institute of Science">Indian Institute of Science</option>
                        <option value="Indian Institute of Science Education and Research, Thiruvananthapuram">Indian Institute of Science Education and Research, Thiruvananthapuram</option>
                        <option value="Indian Institute of Space Science and Technology">Indian Institute of Space Science and Technology</option>
                        <option value="Indian Institute of Technology Madras">Indian Institute of Technology Madras</option>
                        <option value="Indian Maritime University">Indian Maritime University</option>
                        <option value="International Institute of Information Technology Bangalore">International Institute of Information Technology Bangalore</option>
                        <option value="International Institute of Information Technology, Hyderabad">International Institute of Information Technology, Hyderabad</option>
                        <option value="Jain University">Jain University</option>
                        <option value="Jawaharlal Institute of Postgraduate Medical Education and Research">Jawaharlal Institute of Postgraduate Medical Education and Research</option>
                        <option value="Jawaharlal Nehru Centre for Advanced Scientific Research">Jawaharlal Nehru Centre for Advanced Scientific Research</option>
                        <option value="Kannur University">Kannur University</option>
                        <option value="Karnatak University">Karnatak University</option>
                        <option value="Karnataka State Women's University">Karnataka State Women's University</option>
                        <option value="Karpagam Academy of Higher Education">Karpagam Academy of Higher Education</option>
                        <option value="Karunya Institute of Technology and Sciences">Karunya Institute of Technology and Sciences</option>
                        <option value="Kerala Agricultural University">Kerala Agricultural University</option>
                        <option value="Kerala University of Health Sciences">Kerala University of Health Sciences</option>
                        <option value="Kerala Veterinary and Animal Sciences University">Kerala Veterinary and Animal Sciences University</option>
                        <option value="KTU">KTU</option>
                        <option value="Mangalore University">Mangalore University</option>
                        <option value="Manipal Academy of Higher Education">Manipal Academy of Higher Education</option>
                        <option value="Manipur Technical University">Manipur Technical University</option>
                        <option value="Meenakshi Academy of Higher Education and Research">Meenakshi Academy of Higher Education and Research</option>
                        <option value="National Institute of Technology, Calicut">National Institute of Technology, Calicut</option>
                        <option value="National Institute of Technology, Karnataka">National Institute of Technology, Karnataka</option>
                        <option value="NITTE University">NITTE University</option>
                        <option value="Other">Other</option>
                        <option value="Pondicherry University">Pondicherry University</option>
                        <option value="Rajiv Gandhi University of Health Sciences">Rajiv Gandhi University of Health Sciences</option>
                        <option value="Rajiv Gandhi University of Knowledge Technologies">Rajiv Gandhi University of Knowledge Technologies</option>
                        <option value="Ramaiah University of Applied Sciences">Ramaiah University of Applied Sciences</option>
                        <option value="REVA University">REVA University</option>
                        <option value="Sathyabama Institute of Science and Technology">Sathyabama Institute of Science and Technology</option>
                        <option value="Saveetha Institute of Medical and Technical Sciences">Saveetha Institute of Medical and Technical Sciences</option>
                        <option value="Sri Ramachandra Institute of Higher Education and Research">Sri Ramachandra Institute of Higher Education and Research</option>
                        <option value="Srinivas University">Srinivas University</option>
                        <option value="SRM Institute of Science and Technology">SRM Institute of Science and Technology</option>
                        <option value="Tamil Nadu Dr. M.G.R.Medical University">Tamil Nadu Dr. M.G.R.Medical University</option>
                        <option value="University of Madras">University of Madras</option>
                        <option value="University of Mysore">University of Mysore</option>
                        <option value="University of Trans-Disciplinary Health Sciences and Technology">University of Trans-Disciplinary Health Sciences and Technology</option>
                        <option value="Vel Tech Rangarajan Dr. Sagunthala R&D Institute of Science and Technology">Vel Tech Rangarajan Dr. Sagunthala R&D Institute of Science and Technology</option>
                        <option value="Vels University">Vels University</option>
                        <option value="Vishwakarma University">Vishwakarma University</option>
                    </select>
                </div>
                <div class="col-md-2 my-3">
                   
                    <input type="number" name="mark" id="mark0" class="form-control">
                </div>`
            </div>

                <div id="div" class="showInputField">
                
                </div>

                <div class="row align-items-center">
                    <div class="col-md-6 add-post-btn">
                        <a class="btn-added" (click)="add()"><i class="ti-plus"></i> Add New Education</a>
                    </div>
                    <!-- <div class="float-right col-md-6">
                        <a  class="btn-delete text-danger add-post-btn" (click)="delete()"><i class="ti-trash"></i> Delete This</a>
                    </div> -->
                </div>
               
    </div>





    <div class="form-group is-empty" *ngIf="userData.qualification.length != 0">
        <h6 class="text-center mb-4"><b>Added Qualification</b></h6>
                <div class="row">
                    <div class="col-md-5 text-center">
                        <b>Qualification</b>
                    </div>
                    <div class="col-md-5 text-center">
                        <b>University</b>
                    </div>
                    <div class="col-md-2 text-center">
                        <b>Marks</b>
                    </div>
                </div>
        
                <div class="row align-items-center" *ngFor="let data of userData.qualification let i=index">
                    
                    <div class="col-md-5 my-3" >
                        <select name="qual" id="qual{{i}}"  class="form-control" [value]="data.qualification">
                        <option value="">Select</option>
                        <option value="SSLC">SSLC</option>
                        <option value="PLUS TWO">PLUS TWO</option>
                        <option value="Diploma">Diploma</option>
                        <option value="B Tech">B Tech</option>
                        <option value="B Com">B Com</option>
                        <option value="BA">BA</option>
                        <option value="BCA">BCA</option>
                        <option value="B eD">B ed</option>
                        <option value="B Com">M Com</option>
                        <option value="BCA">MCA</option>
                        <option value="M Tech">M Tech</option>
                        <option value="M eD">M ed</option>
                        <option value="M Tech">PHD</option>
                        </select>
                    </div>

                    <div class="col-md-5 my-3">
                        <select name="uni" id="uni{{i}}"  class="form-control" [value]="data.university">
                        <option value="">Select University</option>
                        <option value="Amrita Vishwa Vidyapeetham">Amrita Vishwa Vidyapeetham</option>
                        <option value="Anna University">Anna University</option>
                        <option value="APJ Abdul Kalam Technological University">APJ Abdul Kalam Technological University</option>
                        <option value="Avinashilingam University">Avinashilingam University</option>
                        <option value="Azim Premji University">Azim Premji University</option>
                        <option value="B.S. Abdur Rahman Crescent Institute of Science and Technology">B.S. Abdur Rahman Crescent Institute of Science and Technology</option>
                        <option value="Bangalore University">Bangalore University</option>
                        <option value="Bharath Institute of Higher Education and Research">Bharath Institute of Higher Education and Research</option>
                        <option value="Bharathiar University">Bharathiar University</option>
                        <option value="Central University of Kerala">Central University of Kerala</option>
                        <option value="CMR University">CMR University</option>
                        <option value="Cochin University of Science and Technology">Cochin University of Science and Technology</option>
                        <option value="	Dr. M.G.R. Educational and Research Institute">	Dr. M.G.R. Educational and Research Institute</option>
                        <option value="Hindustan Institute of Technology and Science">Hindustan Institute of Technology and Science</option>
                        <option value="Indian Institute of Information Technology, Kottayam">Indian Institute of Information Technology, Kottayam</option>
                        <option value="Indian Institute of Science">Indian Institute of Science</option>
                        <option value="Indian Institute of Science Education and Research, Thiruvananthapuram">Indian Institute of Science Education and Research, Thiruvananthapuram</option>
                        <option value="Indian Institute of Space Science and Technology">Indian Institute of Space Science and Technology</option>
                        <option value="Indian Institute of Technology Madras">Indian Institute of Technology Madras</option>
                        <option value="Indian Maritime University">Indian Maritime University</option>
                        <option value="International Institute of Information Technology Bangalore">International Institute of Information Technology Bangalore</option>
                        <option value="International Institute of Information Technology, Hyderabad">International Institute of Information Technology, Hyderabad</option>
                        <option value="Jain University">Jain University</option>
                        <option value="Jawaharlal Institute of Postgraduate Medical Education and Research">Jawaharlal Institute of Postgraduate Medical Education and Research</option>
                        <option value="Jawaharlal Nehru Centre for Advanced Scientific Research">Jawaharlal Nehru Centre for Advanced Scientific Research</option>
                        <option value="Kannur University">Kannur University</option>
                        <option value="Karnatak University">Karnatak University</option>
                        <option value="Karnataka State Women's University">Karnataka State Women's University</option>
                        <option value="Karpagam Academy of Higher Education">Karpagam Academy of Higher Education</option>
                        <option value="Karunya Institute of Technology and Sciences">Karunya Institute of Technology and Sciences</option>
                        <option value="Kerala Agricultural University">Kerala Agricultural University</option>
                        <option value="Kerala University of Health Sciences">Kerala University of Health Sciences</option>
                        <option value="Kerala Veterinary and Animal Sciences University">Kerala Veterinary and Animal Sciences University</option>
                        <option value="Mangalore University">Mangalore University</option>
                        <option value="Manipal Academy of Higher Education">Manipal Academy of Higher Education</option>
                        <option value="Manipur Technical University">Manipur Technical University</option>
                        <option value="Meenakshi Academy of Higher Education and Research">Meenakshi Academy of Higher Education and Research</option>
                        <option value="National Institute of Technology, Calicut">National Institute of Technology, Calicut</option>
                        <option value="National Institute of Technology, Karnataka">National Institute of Technology, Karnataka</option>
                        <option value="NITTE University">NITTE University</option>
                        <option value="Other">Other</option>
                        <option value="Pondicherry University">Pondicherry University</option>
                        <option value="Rajiv Gandhi University of Health Sciences">Rajiv Gandhi University of Health Sciences</option>
                        <option value="Rajiv Gandhi University of Knowledge Technologies">Rajiv Gandhi University of Knowledge Technologies</option>
                        <option value="Ramaiah University of Applied Sciences">Ramaiah University of Applied Sciences</option>
                        <option value="REVA University">REVA University</option>
                        <option value="Sathyabama Institute of Science and Technology">Sathyabama Institute of Science and Technology</option>
                        <option value="Saveetha Institute of Medical and Technical Sciences">Saveetha Institute of Medical and Technical Sciences</option>
                        <option value="Sri Ramachandra Institute of Higher Education and Research">Sri Ramachandra Institute of Higher Education and Research</option>
                        <option value="Srinivas University">Srinivas University</option>
                        <option value="SRM Institute of Science and Technology">SRM Institute of Science and Technology</option>
                        <option value="Tamil Nadu Dr. M.G.R.Medical University">Tamil Nadu Dr. M.G.R.Medical University</option>
                        <option value="University of Madras">University of Madras</option>
                        <option value="University of Mysore">University of Mysore</option>
                        <option value="University of Trans-Disciplinary Health Sciences and Technology">University of Trans-Disciplinary Health Sciences and Technology</option>
                        <option value="Vel Tech Rangarajan Dr. Sagunthala R&D Institute of Science and Technology">Vel Tech Rangarajan Dr. Sagunthala R&D Institute of Science and Technology</option>
                        <option value="Vels University">Vels University</option>
                        <option value="Vishwakarma University">Vishwakarma University</option>
                        </select>
                    </div>

                    <div class="col-md-2 my-3">
                        <input type="number" name="mark" id="mark{{i}}"  class="form-control" [value]="data.marks">
                    </div>

                </div>

                <div id="div" class="showInputField" >
                
                </div>

                <div class="row align-items-center">
                    <div class="col-md-12 add-post-btn">
                        <a class="btn-added mr-3" style="float:right;" (click)="add()"><i class="ti-plus"></i> Add New Education</a>
                    </div>
                    <!-- <div class="float-right col-md-6">
                        <a class="btn-delete text-danger add-post-btn"><i class="ti-trash" (click)="delete()"></i> Delete This</a>
                    </div> -->
                </div>
               
    </div>


    <div class="form-group is-empty">
        <div class="row my-3 align-items-center">
            
            <div class="col-sm-3 col-md-3 m-auto">
                <p>Upload Resume:</p>
            </div>
            <div class="col-sm-9 col-md-9">
                <input type="file" name="resume" class="form-control pt-2 pl-5" (change)="resumeUpload($event)">
            </div>
            
        </div>
    </div>
    <div>
    <input id="submit" type="submit" class="btn btn-common m-auto" value="Next" [disabled]="profileComplete1.form.invalid">
    </div>
    </form>
    </div>
    </div>
    
    
    
    </div>
    </div>
    </div>
